:host(narrative-app-header) {
  padding-top: 5px;
  margin-bottom: 5px;
  display: grid;
  background: white;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: contents;
    align-items: center;
    padding: 8px 16px;
    height: 4em;
    font-weight: 300;
    font-size: 1.7em;
  }
}
